<ng-container *ngIf="errorMessage; else noErrorMessage">
  <p>{{errorMessage}}</p>
</ng-container>
<ng-template #noErrorMessage>
  <div *ngIf="coordinates; else elseTemplate" id="display">
    <div>
      Coordinates are : <br>
      <strong>Latitude</strong> : {{ latitude }} <br>
      <strong>Longitude</strong> : {{ longitude }} <br>
    </div>
    <div>{{ changeCount }}</div>
  </div>

  <ng-template #elseTemplate>
    <button (click)="watchPosition()">Watch position</button>
  </ng-template>
</ng-template>

<br>
<br>

<div>
  <button (click)="getCurrentPosition()">Get current position</button>
</div>